{% extends 'main.html' %}

{% block content %}

<hr>
<h6>{{comment.user}}</h6>
<h4>{{comment.comment}}</h4>
<p>{{comment.datetime_posted}}</p>
<hr>
<a href="{% url 'create-reply' comment.id %}">add reply</a>

{% for reply in replies %}

<hr>
{% if reply.user == request.user %}
<h4>{{reply.user}} |<a href="{% url 'edit-reply' reply.id %}">edit</a>||<a
        href="{% url 'delete-reply' reply.id %}">delete</a>|</h4>
{% else %}
<h4>{{reply.user}}</h4>
{% endif %}
<p>{{reply.reply}}</p>
<hr>

{% endfor %}

{% endblock content %}